{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Listado de No docentes</h1>

    <a href="{{ path('nodocente_new') }}"><button type="button" class="btn btn-success">Agregar un nuevo No docente</button></a>

    <br><br>

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Oficina</th>
                <th>Telefono</th>
                <th>Funcion</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Pais</th>
                <th>Provincia</th>
                <th>Partido</th>
                <th>Localidad</th>
                <th>Codigopostal</th>
                <th>Tipodocumento</th>
                <th>Nrodocumento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noDocente in noDocentes %}
            <tr>
                <td>{{ noDocente.departamento }}</td>
                <td>{{ noDocente.oficina }}</td>
                <td>{{ noDocente.telefono }}</td>
                <td>{{ noDocente.funcion }}</td>
                <td>{{ noDocente.nombre }}</td>
                <td>{{ noDocente.apellido }}</td>
                <td>{{ noDocente.email }}</td>
                <td>{{ noDocente.pais }}</td>
                <td>{{ noDocente.provincia }}</td>
                <td>{{ noDocente.partido }}</td>
                <td>{{ noDocente.localidad }}</td>
                <td>{{ noDocente.codigoPostal }}</td>
                <td>{{ noDocente.tipoDocumento }}</td>
                <td>{{ noDocente.nroDocumento }}</td>
                <td>

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Ver Detalle</button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content col-md-12 col-md-offset-3">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-center">Datelle de Inscripto</h4>
                                </div>
                                <div class="modal-body col-md-12 col-md-offset-2">
                                    <dl class="dl-horizontal">
                                        <dt>Departamento</dt>
                                        <dd>{{ noDocente.Departamento }}</dd>
                                        <dt>Oficina</dt>
                                        <dd>{{ noDocente.Oficina }}</dd>
                                        <dt>Telefono</dt>
                                        <dd>{{ noDocente.Telefono }}</dd>
                                        <dt>Funcion</dt>
                                        <dd>{{ noDocente.Funcion }}</dd>
                                        <dt>Nombre</dt>
                                        <dd>{{ noDocente.Nombre }}</dd>
                                        <dt>Apellido</dt>
                                        <dd>{{ noDocente.Apellido }}</dd>
                                        <dt>Email</dt>
                                        <dd>{{ noDocente.Email }}</dd>
                                        <dt>Pais</dt>
                                        <dd>{{ noDocente.Pais }}</dd>
                                        <dt>Provincia</dt>
                                        <dd>{{ noDocente.Provincia }}</dd>
                                        <dt>Partido</dt>
                                        <dd>{{ noDocente.Partido }}</dd>
                                        <dt>Localidad</dt>
                                        <dd>{{ noDocente.Localidad }}</dd>
                                        <dt>Codigo postal</dt>
                                        <dd>{{ noDocente.Codigopostal }}</dd>
                                        <dt>Tipo documento</dt>
                                        <dd>{{ noDocente.tipoDocumento }}</dd>
                                        <dt>Nro Documento</dt>
                                        <dd>{{ noDocente.nroDocumento }}</dd>
                                    </dl>                 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End modal -->
                  
                    <a href="{{ path('nodocente_edit', { 'id': noDocente.id }) }}"><button type="button" class="btn btn-sm btn-warning">Modificar</button></a>           
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
