{% extends 'base.html.twig' %}

{% block otherstylesheets %}
    <link href="{{ asset('vendor/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block  page_slideleft %}
    {% include 'slide_left.html.twig' with {'menu': 3, 'submenu': 1}  %}
{% endblock %}

{% block toolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Registro de Vacunaci&oacute;n <small><i class="fa fa-id-card-o"></i> Alta del registro</h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" class="back-subviews">
                <i class="fa fa-chevron-left"></i> BACK
            </a>
            <a href="#" class="close-subviews">
                <i class="fa fa-times"></i> CLOSE
            </a>
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    <li class="dropdown">
                        <a href="{{path('inscripto_index')}}">
                            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i> VOLVER
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <form style="margin-bottom: 0px;">
                                <input class="small_button" id="general_cumple" type="checkbox" name="general_cumple"/>
                            </form>
                            CUMPLE
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" onclick="regvac_submit();">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> GUARDAR
                            <div class="tooltip-notification hide">
                                <div class="tooltip-notification-arrow"></div>
                                <div class="tooltip-notification-inner">
                                    <div>
                                        <div class="semi-bold">
                                            REGISTRO
                                        </div>
                                        <div class="message">
                                            Guardar registro de vacunaci&oacute;n
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
    <!-- end: TOOLBAR -->
{% endblock %}

{% block breadcrumb %}
    <!-- start: BREADCRUMB -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <li>
                    <a href="{{path('inscripto_index')}}">visitantes</a>
                </li>
                <li class="active">Registro Vacunacion</li>
            </ol>
        </div>
    </div>
    <!-- end: BREADCRUMB -->
{% endblock %}

{% block page_content %}
    <div class="row">
        <form  enctype="multipart/form-data" name="formRegistroVacunacion" action="{{path ("alta_registro_action", {'id': visitante.id}) }}" method="POST">
            <div class="col-lg-9 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Vacunas <span class="text-bold"> del Calendario Nacional</span></h4>
                    </div>
                    <!-- INICIO DEL FORM -->
                    <div class="panel-body">
                        <table id="vacunas_calendario" class="table  table-condensed table-bordered table-striped table-hover">
                            <thead>
                                <tr class="bg-primary ">
                                    <th class="text-center text-white">Vacuna</th>
                                    <th class="text-center text-white col-md-1">&Uacute;ltima D&oacute;sis</th>
                                    <th class="text-center text-white col-md-1">Vencimiento</th>
                                    <th class="text-center text-white col-md-1">Completa</th>
                                    <th class="text-center text-white col-md-6">Comentario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vacuna in vacunas %}
                                    {% if vacuna.esObligatoria %}
                                        <tr>
                                            <td class="text-center">
                                                <strong>{{vacuna.nombre}}</strong> <i><small> ({{vacuna.abreviatura}})</small></i>
                                                <input type="hidden" name="idVacuna{{loop.index}}" value="{{ vacuna.id }}">
                                            </td>
                                            <td class="text-center">
                                                <input type="number" id="dosisRecibidas{{ loop.index }}" class="form-control text-center" value="0" name="dosisRecibidas{{ loop.index }}" />
                                            </td>
                                            <td class="text-center">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="date" class="form-control" name="vencimiento{{ loop.index }}" id="vencimiento{{ loop.index }}" placeholder="vencimiento" />
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <input class="mini_button" name="cumple{{ loop.index }}" type="checkbox">
                                            </td>
                                            <td class="text-center"> 
                                                <textarea  class="form-control" rows="1" style="width: 100%;" name="comentario{{ loop.index }}" id="comentario{{ loop.index }}" placeholder="comentario" ></textarea>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Vacunas <span class="text-bold">Optativas</span></h4>
                    </div>
                    <!-- INICIO DEL FORM -->
                    <div class="panel-body">

                        <table id="vacunas_optativas" class="table  table-condensed table-bordered table-striped table-hover">
                            <thead>
                                <tr class="bg-info">
                                    <th class="text-center">Vacuna</th>
                                    <th class="text-center col-md-1">&Uacute;ltima D&oacute;sis</th>
                                    <th class="text-center col-md-1">Vencimiento</th>
                                    <th class="text-center col-md-1">Completa</th>
                                    <th class="text-center col-md-6">Comentario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vacuna in vacunas %}
                                    {% if not vacuna.esObligatoria %}
                                        <tr>
                                    <input type="hidden" name="idVacuna{{loop.index}}" value="{{ vacuna.id }}">
                                    <td class="text-center">
                                        <strong>{{vacuna.nombre}}</strong> <i><small> ({{vacuna.abreviatura}})</small></i>
                                    </td>
                                    <td class="text-center">
                                        <input type="number" id="dosisRecibidas{{ loop.index }}" class="form-control" name="dosisRecibidas{{ loop.index }}" value="0" />
                                    </td>
                                    <td class="text-center">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="date" class="form-control" name="vencimiento{{ loop.index }}" id="vencimiento{{ loop.index }}" placeholder="vencimiento" />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <input class="mini_button" name="cumple{{ loop.index }}" type="checkbox">
                                    </td>
                                    <td class="text-center"> 
                                        <textarea  class="form-control" rows="1" name="comentario{{ loop.index }}" id="comentario{{ loop.index }}" placeholder="comentario" ></textarea>
                                    </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div id="regvac_infovisitante" class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Propietari@ <span class="text-bold"> del registro de vacunaci&oacute;n</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail" id="regvac_avatar" src="{{ asset('images/avatar4.png') }}" alt="Avatar">
                            <div class="form-group text-right">
                                <a class="btn btn-xs btn-grey" href="{{ path('inscripto_show', {'id': visitante.id} )}}"><i class="fa fa-plus" aria-hidden="true"></i> Info</a>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-5">
                            <div class="form-group">
                                <label class="control-label">Nombre completo:</label>
                                <p class="form-control-static">{{visitante.apellido | upper}}, {{visitante.nombre | capitalize}}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Documento:</label>
                                <p class="form-control-static">{{visitante.tipoDocumento | upper}} {{visitante.nroDocumento | number_format(0,',','.') }}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Comentarios <span class="text-bold"> del registro de vacunaci&oacute;n</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="observacionPrivada">Observacion Privada:</label>
                            <textarea class="form-control" rows="5" style="width: 100%;" name="observacionPrivada" id="observacionPrivada" placeholder="OPCIONAL"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="observacionPublica">Observacion Publica:</label>
                            <textarea class="form-control" rows="5" style="width: 100%;"  name="observacionPublica" id="observacionPublica" placeholder="OPCIONAL"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Listado <span class="text-bold"> de enfermedades</span></h4>
                    </div>
                    <div id="regenfermedades_content" class="panel-body">
                        {% include 'registroenfermedades/listado.ajax.html.twig' with {'regenfermedades': visitante.getRegistroEnfermedades() }  %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Listado <span class="text-bold"> de factores de riesgo</span></h4>
                    </div>
                    <div id="regfactorriesgo_content"  class="panel-body">
                        {% include 'registrofactorriesgo/listado.ajax.html.twig' with {'regfactorriesgo': visitante.getRegistroFactoresRiesgo() }  %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="clip-bars"></i>
                        <h4 class="panel-title">Controles <span class="text-bold"> del registro de vacunaci&oacute;n</span></h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group text-center">
                            <label for="reg_val_cumple">Cumple con el registro</label>
                            <div class="col-md-12">
                                <input class="form-control normal_button" id="reg_val_cumple" name="cumple" type="checkbox"> 
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="idVisitante" value="{{visitante.id}}">
                            <input type="hidden" name="cantVacunas" value="{{ cantVacunas }}">
                            <div class="text-center">
                                <a href="{{path('inscripto_index')}}" class="btn btn-default" >Volver</a>
                                <input id="regvac_submit" class="btn btn-primary" type="submit" name="submit" value="Guardar">    
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block otherJavascript %}
    <script src="{{ asset('vendor/bootstrap-switch-master/dist/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <script>

                            /**
                             *  Sincronizacion de botones cumple
                             * */
                            var cumple_ini = '';
                            $('input[name="general_cumple"]').on('switchChange.bootstrapSwitch', function (event, state) {
                                if (cumple_ini != 'cumple') {
                                    cumple_ini = 'general_cumple';
                                    $('input[name="cumple"]').bootstrapSwitch('toggleState');
                                } else {
                                    cumple_ini = '';
                                }
                            });

                            $('input[name="cumple"]').on('switchChange.bootstrapSwitch', function (event, state) {
                                if (cumple_ini != 'general_cumple') {
                                    cumple_ini = 'cumple';
                                    $('input[name="general_cumple"]').bootstrapSwitch('toggleState');
                                } else {
                                    cumple_ini = '';
                                }
                            });
                            /**
                             *****************************************************************************************************************************************
                             *  */

                            function regvac_submit() {
                                $('#regvac_submit').click();
                            }

                            function crearModalEdit(url, title, urlTarget, targetContent) {
                                $('#okButton').button('reset');
                                $('#panel-config .modal-footer *').show();
                                $('#panel-config .modal-title').html(title);
                                $('#panel-config .modal-body').html("");
                                $('#okButton').html('listo');
                                $('#panel-config .modal-body').load(url, function () {
                                    $('#panel-config form').submit(function (event) {
                                        event.preventDefault();
                                        $.post(url, $('#panel-config form').serialize(), function (data) {
                                            if (data.success === 1) {
                                                toastr['success'](data.message, '');
                                                targetContent.html('');
                                                targetContent.load(urlTarget);
                                            } else {
                                                toastr['error'](data.message, '');
                                            }
                                        });
                                    });
                                });
                                $('#panel-config').modal();
                            }

                            function crearModalView(url, title) {
                                $('#okButton').button('reset');
                                $('#panel-config .modal-footer').show();
                                $('#cancelButton').hide();
                                $('#panel-config .modal-title').html(title);
                                $('#panel-config .modal-body').html("");
                                $('#panel-config .modal-body').load(url, function () {
                                    $('#panel-config form').submit(function (event) {
                                        event.preventDefault();
                                        $('#panel-config').modal('toggle');
                                    });
                                });
                                $('#panel-config').modal();
                            }

                            function regenfermedadesNew() {
                                crearModalEdit(
                                        "{{ path('regenfermedad_new', {'id':  visitante.id }) }}", //URL para obtener el contenido inicial del panel
                                        "Nuevo Registro de Enfermedad", //Título del panel
                                        "{{path('regenfermedades_de', {'id': visitante.id }) }}", //URL para obtener el panel actualizado
                                        $("#regenfermedades_content"), //Elemento DOM en donde actualizar
                                        );
                            }

                            function regfactorriesgoNew() {
                                crearModalEdit(
                                        "{{ path('regfactorriesgo_new', {'id':  visitante.id }) }}", //URL para obtener el contenido inicial del panel
                                        "Nuevo Registro de Factor de Riesgo", //Título del panel
                                        "{{path('regfactorriesgo_de', {'id': visitante.id }) }}", //URL para obtener el panel actualizado
                                        $("#regfactorriesgo_content"), //Elemento DOM en donde actualizar
                                        );
                            }

                            function regenfermedadesDelete(url) {
                                targetContent = $('#regenfermedades_content');
                                swal({
                                    title: '¿Estas seguro?',
                                    text: "Estas por eliminar un registro de enfermedad del sistema!",
                                    type: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    cancelButtonText: 'Cancelar',
                                    confirmButtonText: 'Si, Eliminarla'
                                }).then((result) => {
                                    if (result.value) {
                                        $.post(url, {}).done((data) => {
                                            if (data.success) {
                                                swal('Borrado!', data.message, 'success').then(function () {
                                                    targetContent.html('');
                                                    targetContent.load("{{path('regenfermedades_de', {'id': visitante.id }) }}");
                                                });
                                            } else {
                                                swal('Cuidado!', data.message, 'error');
                                            }
                                        }).fail(() => {
                                            swal('Cuidado!', 'Ocurrio un error en la comunicación con el servidor', 'error')
                                        }
                                        );
                                    }
                                });
                            }

                            function regfactorriesgoDelete(url) {
                                targetContent = $('#regfactorriesgo_content');
                                swal({
                                    title: '¿Estas seguro?',
                                    text: "Estas por eliminar un registro de factor de riesdo del sistema!",
                                    type: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    cancelButtonText: 'Cancelar',
                                    confirmButtonText: 'Si, Eliminarla'
                                }).then((result) => {
                                    if (result.value) {
                                        $.post(url, {}).done((data) => {
                                            if (data.success) {
                                                swal('Borrado!', data.message, 'success').then(function () {
                                                    targetContent.html('');
                                                    targetContent.load("{{path('regfactorriesgo_de', {'id': visitante.id }) }}");
                                                });
                                            } else {
                                                swal('Cuidado!', data.message, 'error');
                                            }
                                        }).fail(() => {
                                            swal('Cuidado!', 'Ocurrio un error en la comunicación con el servidor', 'error')
                                        }
                                        );
                                    }
                                });
                            }

                            function regenfermedadesView(urlTarget) {
                                $('#cancelButton').hide(); //Modal
                                crearModalView(
                                        urlTarget, //URL para obtener el contenido inicial del panel
                                        "Ver Registro de Enfermedad", //Título del panel
                                        );
                                $('#cancelButton').hide();
                            }

                            function regfactorriesgoView(urlTarget) {
                                $('#cancelButton').hide(); //Modal
                                crearModalView(
                                        urlTarget, //URL para obtener el contenido inicial del panel
                                        "Ver Registro de Factor de Riesgo", //Título del panel
                                        );
                                $('#cancelButton').hide();
                            }

                            $(document).ready(function () {
                                $('#okButton').on('click', function () {
                                    $('#panel-config form').submit();
                                });
                                $.fn.bootstrapSwitch.defaults.size = 'mini';
                                $.fn.bootstrapSwitch.defaults.onText = 'SI';
                                $.fn.bootstrapSwitch.defaults.offText = 'NO';
                                $.fn.bootstrapSwitch.defaults.offColor = 'danger';
                                $.fn.bootstrapSwitch.defaults.onColor = 'success';
                                $("form input[type=checkbox].mini_button").bootstrapSwitch();
                                $.fn.bootstrapSwitch.defaults.size = 'small';
                                $("form input[type=checkbox].small_button").bootstrapSwitch();
                                $.fn.bootstrapSwitch.defaults.size = 'normal';
                                $("form input[type=checkbox].normal_button").bootstrapSwitch();

                            });
    </script>
{% endblock %}