{% extends 'base.html.twig' %}
{% block otherstyles %}
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb breadcrumb-scv">
        <li>
            <a href="{{path('homepage')}}" ><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="{{path('inscripto_index')}}">Inscriptos</a>
        </li>
        <li class="active">Editar Registro Vacunacion</li>
    </ol>
{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Editar Registro de vacunacion de <strong>{{ inscripto.nombre }} {{inscripto.apellido }}</strong></h3>
        </div>

        <div class="panel-body">
            <form class="form-inline" enctype="multipart/form-data" name="formRegistroVacunacion" action="{{path ("alta_registro_action") }}" method="POST">

                <input type="hidden" name="idInscripto" value="{{inscripto.id}}">
                
                {% for componente in componentes %}

                    <h3>{{ componente.vacuna.nombre }}</h3>

                    <div class="form-group">
                        <label for="dosisRecibidas{{ loop.index }}">Dosis recibidas: </label>
                        <input type="number" id="dosisRecibidas{{ loop.index }}" class="form-control" name="dosisRecibidas{{ loop.index }}" placeholder="Dosis Recibidas" value="{{componente.dosisRecibidas}}" required />
                    </div>

                    {% if componente.vacuna.tieneVencimiento %}
                        <div class="form-group">
                            <label for="vencimiento{{ loop.index }}">Vencimiento</label>
                            <input type="date" class="form-control" name="vencimiento{{ loop.index }}" id="vencimiento{{ loop.index }}" value="{{ componente.vencimiento | date("Y-m-d")}}" />
                        </div>
                    {% endif %}
                        
                    <div class="checkbox">
                        <label><input name="cumple{{ loop.index }}" type="checkbox" {% if componente.cumple %} checked {% endif %}> Cumple </label>
                    </div>

                    <input type="hidden" name="cantVacunas" value="{{ loop.index }}">
                    <input type="hidden" name="idVacuna{{ loop.index }}" value="{{componente.vacuna.id}}">
                {% endfor %}
                <br><br>
                <div class="checkbox">
                    <label><input name="cumple" type="checkbox" {% if registrovacunacion.cumple %} checked {% endif %} > Cumple el registro de vacunacion</label>
                </div>
                <br><br>
                <a href="{{ path("inscripto_index") }}" class="btn btn-default" >Volver</a>
                <input class="btn btn-primary" type="submit" name="submit" value="Guardar">          
            </form>
        
        </div>
    </div>

{% endblock %}