{% extends 'base.html.twig' %}
{% block otherstyles %}
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb breadcrumb-scv">
        <li>
            <a href="{{path('homepage')}}" ><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="{{path('inscripto_index')}}">visitante</a>
        </li>
        <li class="active">Editar Registro Vacunacion</li>
    </ol>
{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Editar Registro de vacunacion de <strong>{{ visitante.nombre }} {{visitante.apellido }}</strong></h3>
        </div>

        <div class="panel-body">
            <form class="form-inline" enctype="multipart/form-data" name="formRegistroVacunacion" action="{{path ("editar_registro_action") }}" method="POST">

                <input type="hidden" name="idVisitante" value="{{visitante.id}}">
                <input type="hidden" name="idRegistro" value="{{registrovacunacion.id}}">
                <h2>Vacunas del Calendario Nacional</h2>
                {% for vacuna in vacunas %}
                    {% if vacuna.esObligatoria %}
                        <h3>{{ vacuna.nombre }}</h3>
                        <div class="form-group">
                            <label for="dosisRecibidas{{ loop.index }}">Dosis recibidas: </label>
                            <input type="number" id="dosisRecibidas{{ loop.index }}" class="form-control" name="dosisRecibidas{{ loop.index }}" placeholder="Dosis Recibidas"{% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %} value="{{componente.dosisRecibidas}}" {% endif %} {% endfor %}required />
                        </div>

                        {% if vacuna.tieneVencimiento %}
                            <div class="form-group">
                                <label for="vencimiento{{ loop.index }}">Vencimiento</label>
                                <input type="date" class="form-control" name="vencimiento{{ loop.index }}" id="vencimiento{{ loop.index }}" {% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %} {% if componente.vencimiento %}value="{{ componente.vencimiento | date("Y-m-d")}}"{% endif %} {% endif %} {% endfor %} />
                            </div>
                        {% endif %}
                            
                        <div class="checkbox">
                            <label><input name="cumple{{ loop.index }}" type="checkbox" {% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %}{% if componente.cumple %} checked {% endif %} {% endif %} {% endfor %}>Completo </label>
                        </div>

                        <input type="hidden" name="idComponente{{ loop.index }}" {% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %} value="{{componente.id}}" {% endif %} {% endfor %}>
                        <input type="hidden" name="cantVacunas" value="{{ loop.index }}">
                        <input type="hidden" name="idVacuna{{ loop.index }}" value="{{vacuna.id}}">
                    {% endif %}
                {% endfor %}
                <h2>Otras vacunas</h2>
                {% for vacuna in vacunas %}
                    {% if not vacuna.esObligatoria %}
                        <h3>{{ vacuna.nombre }}</h3>
                        <div class="form-group">
                            <label for="dosisRecibidas{{ loop.index }}">Dosis recibidas: </label>
                            <input type="number" id="dosisRecibidas{{ loop.index }}" class="form-control" name="dosisRecibidas{{ loop.index }}" placeholder="Dosis Recibidas"{% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %} value="{{componente.dosisRecibidas}}" {% endif %} {% endfor %}required />
                        </div>

                        {% if vacuna.tieneVencimiento %}
                            <div class="form-group">
                                <label for="vencimiento{{ loop.index }}">Vencimiento</label>
                                <input type="date" class="form-control" name="vencimiento{{ loop.index }}" id="vencimiento{{ loop.index }}" {% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %} {% if componente.vencimiento %}value="{{ componente.vencimiento | date("Y-m-d")}}"{% endif %} {% endif %} {% endfor %} />
                            </div>
                        {% endif %}
                            
                        <div class="checkbox">
                            <label><input name="cumple{{ loop.index }}" type="checkbox" {% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %}{% if componente.cumple %} checked {% endif %} {% endif %} {% endfor %}>Completo </label>
                        </div>

                        <input type="hidden" name="idComponente{{ loop.index }}" {% for componente in componentes %} {% if componente.vacuna.id == vacuna.id %} value="{{componente.id}}" {% endif %} {% endfor %}>
                        <input type="hidden" name="cantVacunas" value="{{ loop.index }}">
                        <input type="hidden" name="idVacuna{{ loop.index }}" value="{{vacuna.id}}">
                    {% endif %}
                {% endfor %}

                 <!-- OBSERVACIONES PUBLICAS Y PRIVADAS -->
                <br><br><br>
                <div class="form-group">
                    <label for="comment">Observacion Privada:</label>
                    <textarea class="form-control" rows="5" cols="50" name="observacionPrivada" id="observacionPrivada" placeholder="OPCIONAL"></textarea>
                </div>
                <br><br>
                <div class="form-group">
                    <label for="comment">Observacion Publica:</label>
                    <textarea class="form-control" rows="5" cols="50" name="observacionPublica" id="observacionPublica" placeholder="OPCIONAL"></textarea>
                </div>
                <br>
                <!-- FIN OBSERVACIONES PUBLICAS Y PRIVADAS -->

                <div class="checkbox">
                    <label><input name="cumple" type="checkbox" {% if registrovacunacion.cumple %} checked {% endif %}> Cumple el registro de vacunacion</label>
                </div>
                <br><br>
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default" >Volver</a>

                <input class="btn btn-primary" type="submit" name="submit" value="Guardar">          
            </form>
        
            <div class="row">
                <div class="col-lg-6">
                    <div class="">
                        <h3>Observaciones</h3>
                    </div>
                    {% for observacion in observaciones %}
                        {% if observacion.esPrivada %}
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <p class="col-lg-6">Observacion Privada</p><p class="col-lg-6 text-right">{{ observacion.fechaCreacion | date('d/m/Y')}}</p> <br>
                                </div>
                        {% else %}
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <p class="col-lg-6">Observacion Publica</p><p class="col-lg-6 text-right">{{ observacion.fechaCreacion | date('d/m/Y')}}</p> <br>
                                </div>
                        {% endif %}
                                <div class="panel-body">
                                    {{ observacion.contenido }}
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}