{% extends 'base.html.twig' %}
{% block otherstyles %}
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb breadcrumb-scv">
        <li>
            <a href="{{path('homepage')}}" ><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="{{path('inscripto_index')}}">Inscriptos</a>
        </li>
        <li class="active">Registro Vacunacion</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Registro de vacunacion de <strong>{{ inscripto.nombre }} {{inscripto.apellido }}</strong></h3>
        </div>


        <div class="panel-body">
            <form class="form" enctype="multipart/form-data" name="formRegistroVacunacion" action="{{path ("alta_registro_action") }}" method="POST">
                <input type="hidden" name="idInscripto" value="{{inscripto.id}}">
                {% for vacuna in vacunas %}
                    {{ vacuna.nombre }}
                    <div class="form-group row">
                        <label for="cumple" class="col-sm-1 form-control-label">Cumple</label>
                        <div class="col-sm-3">
                            <input type="checkbox" name="cumple{{ loop.index }}" id="cumple" placeholder="cumple" value="1"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="docisRecibidas" class="col-sm-1 form-control-label">Docis recibidas</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" name="dosisRecibidas{{ loop.index }}" placeholder="docisRecibidas" required />
                        </div>
                    </div>

                    {% if vacuna.tieneVencimiento %}
                    <div class="form-group row">
                        <label for="vencimiento" class="col-sm-1 form-control-label">Vencimiento</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="vencimiento{{ loop.index }}" id="vencimiento" placeholder="vencimiento" />
                        </div>
                    </div>
                    {% endif %}
                    <input type="hidden" name="cantVacunas" value="{{ loop.index }}">
                    <input type="hidden" name="idVacuna{{ loop.index }}" value="{{vacuna.id}}">
                {% endfor %}
                <input class="btn btn-primary" type="submit" name="submit" value="Guardar">
            </form>
        </div>
    </div>
{% endblock %}
