<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            Bienvenido/a
                        </a>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span>Inicio</a></li>
                    <li><a href="{{ path('usuario_index') }}"><span class="glyphicon glyphicon-user"></span>Usuarios</a></li>
                    <li><a href="{{ path('visitante_index') }}"><span class="glyphicon glyphicon-user"></span>Visitantes</a></li>
                    <li><a href="{{ path('vacuna_index') }}"><span class="glyphicon glyphicon-plus-sign"></span>Vacunas</a></li>
                    <li><a href="{{ path('enfermedad_index') }}"><span class="glyphicon glyphicon-plus"></span>Enfermedades</a></li>
                    <li><a href="{{ path('factorriesgo_index') }}"><span class="glyphicon glyphicon-plus-sign"></span>Grupos de Riesgo</a></li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            <span class="glyphicon glyphicon-th-list"></span>Reportes<span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#">Reporte I</a></li>
                                    <li><a href="#">Reporte II</a></li>
                                    <li><a href="#">Repoerte III</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</div>