<!-- start: TOPBAR -->
<header class="topbar navbar navbar-inverse navbar-fixed-top inner">
    <!-- start: TOPBAR CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- start: LOGO -->
            <a class="navbar-brand" href="{{ path('homepage')}}">
                <img src="{{ asset('images/logo.png') }}" alt="SCV"/>
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="topbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-right">
                <!-- start: USER DROPDOWN -->
                <li class="dropdown current-user">
                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                        <i class="fa fa-user-circle-o"></i> <span class="username hidden-xs">{{ app.user.username | capitalize}}</span> <i class="fa fa-caret-down "></i>
                    </a>
                    <ul class="dropdown-menu dropdown-dark">
                        <li>
                            <a href="{{ path('usuario_resetPasswd',{'id': app.user.id} )}}">
                                <i class="fa fa-lock"></i> Cambiar Contraseña
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('logout')}}">
                                <i class="fa fa-power-off"></i> Cerrar sesi&oacute;n
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- end: USER DROPDOWN -->
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- end: TOPBAR CONTAINER -->