<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <title>{% block title %}CSV - UNLP{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/toast/lib/toastr.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/sidebar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/common.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/animate/animate.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/iCheck/skins/all.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/rapido/css/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/rapido/css/styles-responsive.css') }}" rel="stylesheet" type="text/css" />
    <body class="login container-fluid">
        {% block container_main %}
        {% endblock %}
        <script src="{{  asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{  asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{  asset('vendor/toast/lib/toastr.min.js') }}"></script>
        <script src="{{  asset('js/main.js') }}"></script>
        {% block otherjavascripts %}
        {% endblock %}
        {% block otherstyles %}
        {% endblock %}
        {% block flashMessages %}
            {% include 'flash.messages.html.twig' %}
        {% endblock %}
    </body>
</html>