{% extends 'default/base.login.html.twig' %}
{% block container_main %}
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo">
                <img src="{{ asset('vendor/rapido/images/logo.png') }}">
            </div>
            <!-- start: LOGIN BOX -->
            <div class="box-login">
                <h3>Entrar con su cuenta</h3>
                <p>
                    Por favor ingrese su nombre de usuario y contraseña para entrar.
                </p>
                <form class="form-login" action="{{ path('login')}}" method="post">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> Tienes errores en el formulario. Por favor verifica los datos ingresados.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="text" class="form-control" name="_username"value="{{ last_username }}" placeholder="Usuario">
                                <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                <input type="password" class="form-control password" name="_password" placeholder="Contraseña">
                                <i class="fa fa-lock"></i>
                                <a class="forgot" href="#">
                                    ¿Olvidaste la contraseña?
                                </a> </span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-green pull-right">
                                Entrar <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    2017 &copy; SCV by Inform&aacute;tica - UNLP.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: LOGIN BOX -->
            <!-- start: FORGOT BOX -->
            <div class="box-forgot">
                <h3>¿Olvidaste la contraseña?</h3>
                <p>
                    Por favor ponte en contacto con el administrador del sistema para resolver el problemaa la brevedad.
                </p>
                <div class="col-md-12 login_passwdforget" role="alert">
                    <address>
                        <strong>Facultad de Ciencias Médicas, UNLP.</strong><br>
                        Calle 60, Nro 900<br>
                        La Plata, CP 1900<br>
                        <abbr title="Teléfono">T:</abbr> (0221) 456-7890
                    </address>
                    <address>
                        <strong>Contacto</strong><br>
                        <a href="mailto:#">medicina@admin.unlp.edu.ar</a>
                    </address>
                </div>
                <div class="col-md-12">
                    <form class="form-forgot">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                        </div>
                        <fieldset>                      
                            <div class="form-actions">
                                <a class="btn btn-light-grey go-back">
                                    <i class="fa fa-chevron-circle-left"></i> Entrar
                                </a>
                            </div>
                        </fieldset>
                    </form>
                    <div class="copyright">
                        2017 &copy; SCV by Inform&aacute;tica - UNLP.
                    </div>
                </div>
                <!-- start: COPYRIGHT -->

                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: FORGOT BOX -->
        </div>
    </div>
{% endblock %}

{% block otherjavascripts %}
    <script src="{{ asset('vendor/rapido/js/login.js') }}"></script>
    <script src="{{ asset('vendor/rapido/js/main.js') }}"></script>
    <script src="{{ asset('vendor/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script src="{{ asset('vendor/iCheck/jquery.icheck.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery.transit/jquery.transit.js') }}"></script>
    <script src="{{ asset('vendor/TouchSwipe/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Login.init();
        {% if error is not null %}
                toastr['error']('Las credenciales son incorrectas', 'Error');
        {% endif %}
            });
    </script>
{% endblock %}

