{% extends 'common/layout.html.twig' %}

{% block topbar %}
    <!-- start: TOPBAR -->
    <header class="topbar navbar navbar-inverse navbar-fixed-top inner">
        <!-- start: TOPBAR CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- start: LOGO -->
                <a class="navbar-brand" href="index.html">
                    Sistema de Control de Vacunación
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="topbar-tools">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: USER DROPDOWN -->
                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <img src="{{ asset('rapido/images/avatar-1-small.jpg') }}" class="img-circle" alt=""> <span class="username hidden-xs">Ingresar</span>
                        </a>
                        <ul class="dropdown-menu dropdown-dark">
                            <li>
                                <a href="login_login.html">
                                    Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- end: TOPBAR CONTAINER -->
    </header>
    <!-- end: TOPBAR -->
{% endblock%}
{% block content %}
    <!-- start: MAIN CONTAINER -->
    <div class="main-container inner">
        <!-- start: PAGE -->
        <div class="main-content">
            <div class="container">
                <!-- start: PAGE HEADER -->
                <!-- start: TOOLBAR -->
                <div class="toolbar row">
                    <div class="col-sm-6 hidden-xs">
                        <div class="page-header">
                            <h1>Bienvenido <small>Sistema SCV </small></h1>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <a href="#" class="back-subviews">
                            <i class="fa fa-chevron-left"></i> BACK
                        </a>
                        <a href="#" class="close-subviews">
                            <i class="fa fa-times"></i> CLOSE
                        </a>
                        <div class="toolbar-tools pull-right">
                            <!-- start: TOP NAVIGATION MENU -->
                            <ul class="nav navbar-right">
                                <!-- start: TO-DO DROPDOWN -->
                                <li class="menu-search">
                                    <a href="#">
                                        <i class="fa fa-search"></i> Buscate
                                    </a>
                                    <!-- start: SEARCH POPOVER -->
                                    <div class="popover bottom search-box transition-all">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <!-- start: SEARCH FORM -->
                                            <form class="" id="searchform" action="#">

                                                <input type="text" class="form-control" placeholder="Documento">
                                                <input type="text" class="form-control" placeholder="Fecha de Nacimiento">
                                                <button class=" form-control btn btn-main-color btn-squared" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>

                                            </form>
                                            <!-- end: SEARCH FORM -->
                                        </div>
                                    </div>
                                    <!-- end: SEARCH POPOVER -->
                                </li>
                            </ul>
                            <!-- end: TOP NAVIGATION MENU -->
                        </div>
                    </div>
                </div>
                <!-- end: TOOLBAR -->
                <!-- end: PAGE HEADER -->
                <!-- start: BREADCRUMB -->
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">
                                    <i class="fa fa-home"></i> Inicio
                                </a>
                            </li>
                            <li class="active">
                                Bienvenido
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- end: BREADCRUMB -->
                <!-- start: PAGE CONTENT --> 
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel uploads">
                            <div class="panel-body panel-portfolio no-padding">
                                <div class="portfolio-grid portfolio-hover">
                                    <div class="overlayer bottom-left fullwidth">
                                        <div class="overlayer-wrapper">
                                            <div class="padding-20">
                                                <h2 class="text-white no-margin">Bienvenido al Sistema de Control de Vacunación</h2>
                                                <h3 class="text-white">Universidad Nacional - Facultad de Medicina</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="e-slider owl-carousel owl-theme portfolio-grid portfolio-hover" data-plugin-options='{"pagination": false, "stopOnHover": true}'>
                                        <div class="item">
                                            <img src="{{ asset('assets/common/images/image01.jpg') }}" alt="">
                                            <div class="caption">
                                                <h2 class="caption-title">Calendario Nacional</h2>
                                                <p class="caption-description">
                                                    Control del Calendario Nacional de Vacunación
                                                </p>
                                                <a href="#" class="caption-button">
                                                    Read More
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('assets/common/images/image02.jpg') }}" alt="">
                                            <div class="caption">
                                                <h2 class="caption-title">Hover Style #10</h2>
                                                <p class="caption-description">
                                                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                                </p>
                                                <a href="#" class="caption-button">
                                                    Read More
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('assets/common/images/image03.jpg') }}" alt="">
                                            <div class="caption">
                                                <h2 class="caption-title">Hover Style #10</h2>
                                                <p class="caption-description">
                                                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                                </p>
                                                <a href="#" class="caption-button">
                                                    Read More
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('assets/common/images/image04.jpg') }}" alt="">
                                            <div class="caption">
                                                <h2 class="caption-title">Hover Style #10</h2>
                                                <p class="caption-description">
                                                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                                </p>
                                                <a href="#" class="caption-button">
                                                    Read More
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="partition partition-white padding-15">
                                    <div class="navigator">
                                        <a href="#" class="circle-50 partition-white owl-prev"><i class="fa fa-chevron-left text-extra-large"></i></a>
                                        <a href="#" class="circle-50 partition-white owl-next"><i class="fa fa-chevron-right text-extra-large"></i></a>
                                    </div>
                                    <div class="clearfix space5">
                                        <div class="col-xs-12 text-center no-padding space10">
                                            Descripción resuminda del sistema
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- end: PAGE CONTENT-->
            </div>
            <div class="subviews">
                <div class="subviews-container"></div>
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
{% endblock %}

