<!DOCTYPE html>
<!-- Template Name: Rapido - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.2 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- start: HEAD -->
    <head>
        <title>CSV - UNLP</title>
        <!-- start: META -->
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->
        <!-- start: MAIN CSS -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/iCheck/skins/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/animate.css/animate.min.css') }}">
        <!-- end: MAIN CSS -->
        <!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/owl-carousel/owl-carousel/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/owl-carousel/owl-carousel/owl.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/owl-carousel/owl-carousel/owl.transitions.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/summernote/dist/summernote.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/fullcalendar/fullcalendar/fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/toastr/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/bootstrap-select/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/DataTables/media/css/DT_bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}">
        <!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/weather-icons/css/weather-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/plugins/nvd3/nv.d3.min.css') }}">
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CORE CSS -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/css/styles-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/css/plugins.css') }}"> 
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/css/themes/theme-style8.css') }}" type="text/css" id="skin_color">
        <link rel="stylesheet" href="{{ asset('assets/vendor/rapido/css/print.css') }}" type="text/css" media="print"/>
        <!-- end: CORE CSS -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- start: OTHER STYLESHEET -->
        <script>
            {% block otherStylesheet %}
            {% endblock %}
        </script>
        <!-- end: OTHER STELESHEET -->
    </head>
    <!-- end: HEAD -->

    <!-- start: BODY -->
    <body>

        <!-- start: SLIDING BAR (SB) -->
        {% block toolbar %}
            {% include 'common/toolbar.html.twig' %}
        {% endblock %}
        <!-- end: SLIDING BAR -->

        <div class="main-wrapper">
            <!-- start: TOPBAR -->
            {% block topbar %}
                {% include 'common/topbar.html.twig' %}
            {% endblock%}
            <!-- end: TOPBAR -->

            <!-- start: PAGESLIDE LEFT -->
            {% block pageslideLeft %}
                {% include 'common/pageSlideLeft.html.twig' %}
            {% endblock %}
            <!-- end: PAGESLIDE LEFT -->

            <!-- start: PAGESLIDE RIGHT -->
            {% block pageslideRight %}
                {% include 'common/pageSlideRight.html.twig' %}
            {% endblock %}
            <!-- end: PAGESLIDE RIGHT -->

            <!-- start: MAIN CONTAINER -->
            {% block content %}
                {% include 'common/content.html.twig' %}
            {% endblock %}
            <!-- end: MAIN CONTAINER -->


            <!-- start: FOOTER -->
            {% block footer %}
                {% include 'common/footer.html.twig' %}
            {% endblock %}
            <!-- end: FOOTER -->

            <!-- start: SUBVIEW SAMPLE CONTENTS -->
            {% include 'common/sampleContent.html.twig'%}
            <!-- end: SUBVIEW SAMPLE CONTENTS -->

        </div>
        <!-- start: MAIN JAVASCRIPTS -->
        <!--[if lt IE 9]>
        <script src="{{ asset('assets/vendor/rapido/plugins/respond.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/excanvas.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/rapido/plugins/jquery-1.11.1.min.js') }}"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->

        <script src="{{ asset('assets/vendor/rapido/plugins/jQuery/jquery-2.1.1.min.js') }}"></script>
        <!--<![endif]-->
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/iCheck/jquery.icheck.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>        
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery.scrollTo/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/ScrollToFixed/jquery-scrolltofixed-min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery.appear/jquery.appear.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/velocity/jquery.velocity.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/TouchSwipe/jquery.touchSwipe.min.js') }}"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
        <script src="{{ asset('assets/vendor/rapido/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery-mockjax/jquery.mockjax.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/toastr/toastr.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/fullcalendar/fullcalendar/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/DataTables/media/js/jquery.dataTables.min.js') }}"></script>

        <script src="{{ asset('assets/vendor/rapido/plugins/truncate/jquery.truncate.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/summernote/dist/summernote.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/js/subview.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/js/subview-examples.js') }}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="{{ asset('assets/vendor/rapido/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/nvd3/lib/d3.v3.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/nvd3/nv.d3.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/nvd3/src/models/historicalBar.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/nvd3/src/models/historicalBarChart.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/nvd3/src/models/stackedArea.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/nvd3/src/models/stackedAreaChart.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/jquery.sparkline/jquery.sparkline.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/rapido/js/index.js') }}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CORE JAVASCRIPTS  -->
        <script src="{{ asset('assets/vendor/rapido/js/main.js') }}"></script>
        <!-- end: CORE JAVASCRIPTS  -->

        <script>
                $(document).ready(function () {
                    Main.init();
                    SVExamples.init();
                    Index.init();
                });
        </script>

        <!-- start: OTHER JAVASCRIPT -->
        <script>
            {% block otherJavascript %}
            {% endblock %}
        </script>
        <!-- end: OTHER JAVASCRIPT -->
    </body>
    <!-- end: BODY -->
</html>