{% extends "base.html.twig" %}

{% block otherstylesheets %}
    <link href="{{ asset('vendor/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block  page_slideleft %}
    {% include 'slide_left.html.twig' with {'menu': 7, 'submenu': 2}  %}
{% endblock %}

{% block toolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Reportes <small>Seleccion de dosis necesarias para mostrar el grafico. </small></h1>
            </div>
        </div>
    </div>
    <!-- end: TOOLBAR -->
{% endblock %}

{% block breadcrumb %}
    <!-- start: BREADCRUMB -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <li class="active">
                    Seleccion de dosis necesarias
                </li>
            </ol>
        </div>
    </div>
    <!-- end: BREADCRUMB -->
{% endblock %}

{% block page_content %}
<div class="panel">
  <div class="panel-heading">
    <h3 class='panel-title'>Grafico de dosis recibidas</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
    <form class="form-horizontal" action="{{path('dosis_recibidas_grafico')}}" method="post">
    {% for vacuna in vacunas %}
      <div class="form-group">
        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-6">
              <div class="input-group margin-bottom-sm">
                <span>{{ vacuna.nombre }}</span>
                <input type="checkbox" name="vacunas[]" value="{{ vacuna.id }}">
                <span>Dosis</span>
                <input type="number" name="dosis[{{vacuna.id}}]" min="1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
      {% endfor %}
    </div>
      <div class="col-md-9 text-right">
          <a href="{{ path("homepage") }}" class="btn btn-default" >Descartar</a>
          <input class="btn btn-primary" type="submit" name="submit" value="Guardar">
      </div>
  </form>
</div>
</div>
{% endblock %}
{% block otherJavascript %}
<script src="{{ asset('vendor/bootstrap-switch-master/dist/js/bootstrap-switch.min.js') }}"></script>
<script>
  $(document).ready(function () {
      $.fn.bootstrapSwitch.defaults.size = 'small';
      $.fn.bootstrapSwitch.defaults.onText = 'SI';
      $.fn.bootstrapSwitch.defaults.offText = 'NO';
      $.fn.bootstrapSwitch.defaults.offColor = 'danger';
      $("[name='vacunas[]']").bootstrapSwitch();
  });
</script>
{% endblock %}
