{% extends 'base.html.twig' %}

{% block page_content %}
{% set i = 0 %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Personas que cumplen el calendario de vacunacion</h3>
	</div>
	<div class="panel-body">
		<table id="usuarios_tabla" class="table table-condensed table-bordered table-striped table-hover">
			<tr>
				<th>Numero de ficha</th>
				<th>Numero de documento</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Provincia de procedencia</th>
				<th>Municipio de procedencia</th>
				{% for item in vac %}
				    <th>Fecha de vencimiento de {{item.nombre}}</th>
				{% endfor %}
			</tr>
			{% for item in data %}
			    <tr>
			    	<td>
							{% if item.nroFicha is defined %}
								{{item.nroFicha}}
							{% else %}
								No posee
							{% endif %}
						</td>
						<td>
							{{item.nroDocumento}}
						</td>
						<td>
							{{item.nombre}}
						</td>
						<td>
							{{item.apellido}}
						</td>
						<td>{{item.provincia}}</td>
						<td>{{item.partido}}</td>
						{% for comp in item.registroVacunacion.componentes if i<2 %}
							{% if comp.vacuna.id >= vac[i].id %}
								<td>
							  {% if comp.vacuna.id == vac[i].id and comp.vencimiento != null %}
									{{comp.vencimiento}}
								{% else %}
									No se registro una fecha de vencimiento para {{vac[i].nombre}}
								{% endif %}
								{% set i=i+1 %}
								</td>
							{% endif %}
						{% endfor %}
			    </tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}

{% block otherJavascript %}
<script src="{{ asset('vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript">
$(document).ready( function(){
	$('#inscriptos_tabla').DataTable({
			/*  "dom": '<".col-md-4">frtip',
			 fnInitComplete: function () {
			 $('div.col-md-4').html('<button type="button" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Importar Excel de Inscriptos</button> <div class="collapse" id="collapseExample"><br><div class="card card-body"><div class="container"><form class="form-inline" enctype="multipart/form-data" name="formHosp"action="{{path ("altaExcel") }}" method="POST"><div class="form-group"><input type="file" name="excel"class="form-control" id="excel"></div><button type="submit" class="btn btn-default">Importar</button></form></div></div></div><br><br>');
			 },*/
			"autoWidth": false,
			"aLengthMenu": [[5, 20, 50, 100, -1], [5, 20, 50, 100, "Todas"]], // change per page values here
			"language": {
					"url": "{{ asset('vendor/datatables.net/Spanish.json') }}"
			},
			"columnDefs": [{
							"searchable": false,
							"orderable": false,
							"targets": [0, 9]
					}],
			"order": [[1, 'asc']],
			"iDisplayLength": 20,
		});
	});
</script>
{% endblock %}
