{% extends 'base.html.twig' %}

{% block otherstylesheets %}
		<link href="{{asset('vendor/datatables.net-buttons-bs/css/buttons.bootstrap.css')}}">
{% endblock %}

{% block page_content %}
{% set i = 0 %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Personas que cumplen el calendario de vacunacion</h3>
	</div>
	<div class="panel-body">
		<table id="usuarios_tabla" class="table table-condensed table-bordered table-striped table-hover">
			<thead>
			<tr>
				<th>Numero de ficha</th>
				<th>Numero de documento</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Provincia de procedencia</th>
				<th>Municipio de procedencia</th>
				{% for item in vac %}
				    <th>Fecha de vencimiento de {{item.nombre}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
				{% set i = 0 %}
			    <tr>
		    		<td>
							{% if item.nroFicha is defined %}
								{{item.nroFicha}}
							{% else %}
								No posee
							{% endif %}
						</td>
						<td>
							{{item.nroDocumento}}
						</td>
						<td>
							{{item.nombre}}
						</td>
						<td>
							{{item.apellido}}
						</td>
						<td>{{item.provincia}}</td>
						<td>{{item.partido}}</td>
						{% for comp in item.registroVacunacion.componentes if i<vselec %}
							{% if comp.vacuna.id >= vac[i].id %}
								<td>
									{% if comp.vacuna.id == vac[i].id and comp.vencimiento != NULL %}
										{{comp.vencimiento|date('d-m-Y') }}
									{% else %}
									  No se ha registrado un vencimiento
									{% endif %}
									{% set i=i+1 %}
								</td>
							{% endif %}
						{% endfor %}
						{% if i<vselec %}
						{% for i in 1..vselec if i<vselec %}
								<td>No se ha registrado un vencimiento</td>
						{% endfor %}
						{% endif %}
			    </tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block otherJavascript %}
<script src="{{ asset('vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('vendor/pdfmake/build/pdfmake.min.js')}}" charset="utf-8"></script>
<script src="{{asset('vendor/pdfmake/build/vfs_fonts.js')}}" charset="utf-8"></script>
<script src="{{asset('vendor/datatables.net-buttons/js/buttons.html5.min.js')}}" charset="utf-8"></script>
<script src="{{asset('vendor/datatables.net-buttons/js/buttons.flash.min.js')}}" charset="utf-8"></script>
<script src="{{asset('vendor/datatables.net-buttons/js/buttons.print.min.js')}}" charset="utf-8"></script>
<script src="{{asset('vendor/jszip/dist/jszip.js')}}" charset="utf-8"></script>
<script src="{{asset('vendor/datatables.net-buttons/js/dataTables.buttons.min.js')}}" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready( function(){
	$('#usuarios_tabla').DataTable({
		"language": {
				"url": "{{ asset('vendor/datatables.net/Spanish.json') }}"
		},
		"bFilter":false,
		dom: 'Bfrtip',
    buttons: [
        'pdf'
    ]
	});
});
</script>
{% endblock %}
