{% extends 'base.html.twig' %}
{% block otherstyles %}
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/datatables.net-bs/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb breadcrumb-scv">
        <li>
            <a href="{{path('homepage')}}" ><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="{{path('usuario_index')}}">Usuarios</a>
        </li>
        <li class="active">Editar</li>
    </ol>
{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Editar <strong>Usuario del Sistema</strong></h3>
        </div>

        <div class="panel-body">
            {{ form_start(form, {'attr':{'class':'form-horizontal'} } ) }}
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{entity.getUsername}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Reset contraseña</label>
                        <div class="col-md-6">
                            {{ form_widget(form.resetPassword,{'attr':{'class':'form-control'} }) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Nueva contraseña</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.password,{'attr':{'class':'form-control',  'disabled':'disabled'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Confirmar contraseña</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.passwordConfirm,{'attr':{'class':'form-control','disabled':'disabled'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Rol</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.rol,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Activo</label>
                        <div class="col-md-6">
                            {{ form_widget(form.isActive,{'attr':{'class':'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 text-right">
                <a href="{{ path("usuario_index") }}" class="btn btn-default" >Descartar</a>
                <input class="btn btn-primary" type="submit" name="submit" value="Cambiar">
            </div>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block otherjavascripts %}
    <script src="{{ asset('vendor/bootstrap-switch-master/dist/js/bootstrap-switch.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $.fn.bootstrapSwitch.defaults.size = 'small';
            $.fn.bootstrapSwitch.defaults.onText = 'SI';
            $.fn.bootstrapSwitch.defaults.offText = 'NO';
            $.fn.bootstrapSwitch.defaults.offColor = 'danger';
            $("[name='appbundle_usuario[isActive]']").bootstrapSwitch();
           /* $.fn.bootstrapSwitch.defaults.onSwitchChange = function (event, state) {
                if (state) {
                    $('#appbundle_usuario_password').removeAttr('disabled');
                    $('#appbundle_usuario_passwordConfirm').removeAttr('disabled');
                    $('#appbundle_usuario_password').attr('required', 'required');
                    $('#appbundle_usuario_passwordConfirm').attr('required', 'disabled');

                } else {
                    $('#appbundle_usuario_password').attr('disabled', 'disabled');
                    $('#appbundle_usuario_passwordConfirm').attr('disabled', 'disabled');
                    $('#appbundle_usuario_password').removeAttr('required');
                    $('#appbundle_usuario_passwordConfirm').removeAttr('required');
                }
            };*/
            $("[name='appbundle_usuario[resetPassword]']").bootstrapSwitch();
        });
    </script>
{% endblock %}