{% extends 'base.html.twig' %}
{% block sidebar %}

{% endblock %}
{% block content %}

    <h1>Listado de Usuarios del Sistema</h1>
    <a class="btn btn-primary" href="{{path('usuario_new')}}">Nuevo</a>
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Rol</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.password }}</td>
                    <td>{{ usuario.rol }}</td>
                    <td>{% if usuario.isActive %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('usuario_show', { 'id': usuario.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
