{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Lista de Inscriptos</h1>

    <a href="{{ path('inscripto_new') }}"><button type="button" class="btn btn-success">Agregar un nuevo inscripto</button></a>

    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Importar Excel de Inscriptos</button>
    
    <div class="collapse" id="collapseExample">
        <br>
        <div class="card card-body">
            <div class="container">
                <form class="form-inline" enctype="multipart/form-data" name="formHosp" action="{{path ("altaExcel") }}" method="POST">

                    <div class="form-group">
                        <input type="file" name="excel" class="form-control" id="excel">
                    </div>
                    
                    <button type="submit" class="btn btn-default">Importar</button>

                </form>
            </div>
        </div>
    </div>

    <br><br>

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Nroficha</th>
                <th>Fechainscripcion</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Pais</th>
                <th>Provincia</th>
                <th>Tipodocumento</th>
                <th>Nrodocumento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscripto in inscriptos %}
            <tr>
                <td>{{ inscripto.nroFicha }}</td>
                <td>{% if inscripto.fechaInscripcion %}{{ inscripto.fechaInscripcion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ inscripto.nombre }}</td>
                <td>{{ inscripto.apellido }}</td>
                <td>{{ inscripto.pais }}</td>
                <td>{{ inscripto.provincia }}</td>
                <td>{{ inscripto.tipoDocumento }}</td>
                <td>{{ inscripto.nroDocumento }}</td>
                <td>

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Ver Detalle</button>

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content col-md-12 col-md-offset-3">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title text-center">Datelle de Inscripto</h4>
                                </div>
                                <div class="modal-body col-md-12 col-md-offset-2">
                                    <dl class="dl-horizontal">
                                        <dt>Nroficha</dt>
                                        <dd>{{ inscripto.nroFicha }}</dd>
                                        <dt>Legajo</dt>
                                        <dd>{{ inscripto.legajo }}</dd>
                                        <dt>Fecha de inscripcion</dt>
                                        <dd>{% if inscripto.fechaInscripcion %}{{ inscripto.fechaInscripcion|date('Y-m-d') }}{% endif %}</dd>
                                        <dt>Nombre</dt>
                                        <dd>{{ inscripto.nombre }}</dd>
                                        <dt>Apellido</dt>
                                        <dd>{{ inscripto.apellido }}</dd>
                                        <dt>Email</dt>
                                        <dd>{{ inscripto.email }}</dd>
                                        <dt>Pais</dt>
                                        <dd>{{ inscripto.pais }}</dd>
                                        <dt>Provincia</dt>
                                        <dd>{{ inscripto.provincia }}</dd>
                                        <dt>Partido</dt>
                                        <dd>{{ inscripto.partido }}</dd>
                                        <dt>Localidad</dt>
                                        <dd>{{ inscripto.localidad }}</dd>
                                        <dt>Codigo postal</dt>
                                        <dd>{{ inscripto.codigoPostal }}</dd>
                                        <dt>Tipodo cumento</dt>
                                        <dd>{{ inscripto.tipoDocumento }}</dd>
                                        <dt>Nro documento</dt>
                                        <dd>{{ inscripto.nroDocumento }}</dd>
                                    </dl>                 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End modal -->
                  
                    <a href="{{ path('inscripto_edit', { 'id': inscripto.id }) }}"><button type="button" class="btn btn-sm btn-warning">Modificar</button></a>           
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
