{% extends 'base.html.twig' %}

{% block otherstylesheets %}
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block  page_slideleft %}
    {% include 'slide_left.html.twig' with {'menu': 3, 'submenu': 1}  %}
{% endblock %}

{% block toolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Inscr&iacute;ptos <small><i class="fa fa-list"></i> Listado de los inscr&iacute;ptos en el sistema. </small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" class="back-subviews">
                <i class="fa fa-chevron-left"></i> BACK
            </a>
            <a href="#" class="close-subviews">
                <i class="fa fa-times"></i> CLOSE
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="toolbar-tools pull-right">
                    <!-- start: TOP NAVIGATION MENU -->
                    <ul class="nav navbar-right">
                        <!-- start: TO-DO DROPDOWN -->
                        <li class="dropdown">
                            <a href="{{ path('inscripto_new') }}">
                                <i class="fa fa-user-plus"></i> INSCR&Iacute;PTO
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" onclick="$('#excel').click();">
                                <i class="fa fa-upload" aria-hidden="true"></i> CARGAR EXCEL
                                <div class="tooltip-notification hide">
                                    <div class="tooltip-notification-arrow"></div>
                                    <div class="tooltip-notification-inner">
                                        <div>
                                            <div class="semi-bold">
                                                INSCR&Iacute;PTOS
                                            </div>
                                            <div class="message">
                                                Importar desde archivo de Excel
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- end: TOP NAVIGATION MENU -->
                </div>
            {% endif %}
        </div>
    </div>
    <!-- end: TOOLBAR -->
{% endblock %}

{% block breadcrumb %}
    <!-- start: BREADCRUMB -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <li class="active">
                    Inscr&iacute;ptos
                </li>
            </ol>
        </div>
    </div>
    <!-- end: BREADCRUMB -->
{% endblock %}

{% block page_content  %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="clip-bars"></i>
                    <h4 class="panel-title">Listado <span class="text-bold">de Inscr&iacute;ptos</span> del Ciclo Lectivo {{anoClicloLectivo}} (Desde {{desde}} hasta {{hasta}})</h4>
                </div>
                <div id="tabla_conteiner" class="panel-body">
                    <div id="tabla-loading" class="text-center">
                        <img src="{{ asset('images/loading.gif') }}" alt="" style="height: 100px;">
                    </div>
                    <table id="inscriptos_tabla" class="table table-condensed table-bordered table-striped table-hover" style="display: none;">
                        <thead>
                            <tr>
                                <th class="text-center">Nro ficha</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Fecha Inscripcion</th>
                                <th class="text-center">Pais</th>
                                <th class="text-center">Documento</th>
                                <th class="text-center">Vacunaci&oacute;n</th>
                                <th class="text-center">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inscripto in inscriptos %}
                                <tr   {% if inscripto.borrado %} class="danger" {% endif %}>
                                    <td class="text-center">{{ inscripto.nroFicha }}</td>
                                    <td class="text-center">{{ inscripto.nombre | upper}}, {{ inscripto.nombre | capitalize}}</td>
                                    <td class="text-center">{{ inscripto.fechaInscripcion | date("Y-m-d") }}</td>
                                    <td class="text-center">{{ inscripto.pais }}</td>
                                    <td class="text-center">{{ inscripto.nroDocumento }}</td>
                                    <td class="text-center">
                                        {% if (not inscripto.registroVacunacion) %}
                                            <span class="label label-sm label-warning">NO PROCESADO</span>
                                        {% else  %}
                                            {% if (inscripto.registroVacunacion) and (inscripto.registroVacunacion.fechaCreacion == inscripto.registroVacunacion.fechaActualizacion) %}
                                                <span class="label label-sm label-warning">NO PROCESADO</span>
                                            {% else  %}

                                                {% if (inscripto.registroVacunacion) and (inscripto.registroVacunacion.cumple == 1) %}
                                                    <span class="label label-sm label-success">CUMPLE</span>
                                                {% endif  %}
                                                {% if (inscripto.registroVacunacion) and (inscripto.registroVacunacion.cumple == 0) %}
                                                    <span class="label label-sm label-danger">NO CUMPLE</span>
                                                {% endif  %}
                                            {% endif  %}
                                        {% endif  %}
                                    </td>
                                    <td class="text-center">
                                        {% if not inscripto.borrado %}
                                            {% if inscripto.registroVacunacion %}
                                                <a href="{{ path('editar_registro', { 'id': inscripto.id }) }}"><button type="button" class="btn btn-xs btn-success"><i class="fa fa-id-card-o" aria-hidden="true"></i></button></a>
                                                    {% else %}
                                                <a href="{{ path('alta_registro', { 'id': inscripto.id }) }}"><button type="button" class="btn btn-xs btn-success"><i class="fa fa-id-card-o" aria-hidden="true"></i></button></a>
                                                    {% endif %}
                                            <a href="{{ path('inscripto_show', {'id': inscripto.id} )}}"><button type="button" class="btn btn-xs btn-primary"><i class="fa fa-binoculars" aria-hidden="true"></i></button></a>
                                                    {% if is_granted('ROLE_ADMIN') %}  
                                                <a href="{{ path('inscripto_edit', { 'id': inscripto.id }) }}">
                                                    <button type="button" class="btn btn-xs btn-warning">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </a>
                                                <a href="#" onclick="usuarioDelete('{{ path("inscripto_delete", {"id":inscripto.id }) }}');" class="btn btn-xs  btn-danger " data-placement="top" data-original-title="Ver acreditados del área">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" onclick="inscriptoAlta('{{ path("inscripto_alta", {"id":inscripto.id }) }}');" class="btn btn-xs  btn-success " data-placement="top" data-original-title="Ver acreditados del área">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}  
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="hide">
                        <button type="button" class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Importar Excel de Inscriptos</button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="container">
                                    <form id="form_input" class="form-inline" enctype="multipart/form-data" name="formHosp"action="{{path ("altaExcel") }}" method="POST">
                                        <div class="form-group">
                                            <input type="file" name="excel"class="form-control" id="excel">
                                        </div>
                                        <button type="submit" class="btn btn-default">Importar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block otherJavascript %}
    <script src="{{ asset('vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>

        function inscriptoAlta(url) {
            swal({
                title: '¿Estas seguro?',
                text: "Estas por dar de alta un inscripto del sistema!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Si, Dar de Alta'
            }).then((result) => {
                if (result.value) {
                    $.post(url, {}).done((data) => {
                        if (data.success) {
                            swal('Agregada!', data.message, 'success').then(function () {
                                location.reload();
                            });
                        } else {
                            swal('Cuidado!', data.message, 'error');
                        }
                    }).fail(() => {
                        swal('Cuidado!', 'Ocurrio un error en la comunicación con el servidor', 'error')
                    }
                    );
                }
            });
        }

        function usuarioDelete(url) {
            swal({
                title: '¿Estas seguro?',
                text: "Estas por eliminar un inscripto del sistema!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Si, Eliminarlo'
            }).then((result) => {
                if (result.value) {
                    $.post(url, {}).done((data) => {
                        if (data.success) {
                            swal('Borrado!', data.message, 'success').then(function () {
                                location.reload();
                            });
                        } else {
                            swal('Cuidado!', data.message, 'error');
                        }
                    }).fail(() => {
                        swal('Cuidado!', 'Ocurrio un error en la comunicación con el servidor', 'error')
                    });
                }
            });
        }

        $(document).ready(function () {
            $('#inscriptos_tabla').hide();
        });

        $(document).ready(function () {
            dtable = $('#inscriptos_tabla').DataTable({
                "autoWidth": false,
                "aLengthMenu": [[5, 20, 50, 100, -1], [5, 20, 50, 100, "Todas"]], // change per page values here
                "language": {
                    "url": "{{ asset('vendor/datatables.net/Spanish.json') }}"
                },
                "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": [5]
                    }],
                "order": [[1, 'asc']],
                "iDisplayLength": 20,
            });

            dtable.on('draw', function () {
                $('#inscriptos_tabla').show();
                $('#tabla-loading').hide()();
            });
        });

        $(document).ready(function () {
            $('#excel').change(function () {
               //archivo = $('#excel');
                swal({
                    title: '¿Estas seguro?',
                    text: "Estas por importar el archivo excel con nombre: " + document.getElementById("excel").files.item(0).name + "!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Importar'
                }).then((result) => {
                    if (result.value) {
                        $('#form_input').submit();
                        $('#okButton').hide();
                        $('#panel-config .modal-footer').show();
                        $('#panel-config button.close').hide();
                        $('#cancelButton').hide();
                        $('#panel-config .modal-title').html('Importando Inscriptos...');
                        $('#panel-config .modal-body').html('<div class="col-md-12  text-center"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div><div class="clearfix"></div>');
                        $('#panel-config').modal('toggle');
                        $('#panel-config').modal();
                    }
                });
            });
        });
    </script>
{% endblock %}
