{% extends 'base.html.twig' %}
{% block  page_slideleft %}
    {% include 'slide_left.html.twig' with {'menu': 3, 'submenu': 2}  %}
{% endblock %}

{% block toolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Inscriptos <small><i class="fa fa-user-plus"></i> Agregar un nuevo inscripto en el sistema. </small></h1>
            </div>
        </div>
    </div>
    <!-- end: TOOLBAR -->
{% endblock %}

{% block breadcrumb %}
    <!-- start: BREADCRUMB -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <li>
                    <a href="{{ path('inscripto_index') }}">
                        Inscriptos
                    </a>
                </li>
                <li class="active">
                    Nuevo
                </li>
            </ol>
        </div>
    </div>
    <!-- end: BREADCRUMB -->
{% endblock %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Nuevo <strong>Inscripto</strong></h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'attr':{'class':'form-horizontal'} } ) }}
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Nro Ficha</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.nroFicha,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Nombre</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.nombre,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Apellido</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.apellido,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Email</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            {{ form_widget(form.email,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Legajo</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.legajo,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Fecha Inscripcion</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                {{ form_widget(form.fechaInscripcion,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Fecha Nacimiento</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                {{ form_widget(form.fechaNacimiento,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Pais</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.pais,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Provincia</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.provincia,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Partido</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.partido,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Localidad</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.localidad,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Codigo Postal</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.codigoPostal,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Tipo Documento</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.tipoDocumento,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-3 control-label">Nro Documento</label>
                        <div class="col-md-6">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-keyboard-o"></i>
                                </span>
                                {{ form_widget(form.nroDocumento,{'attr':{'class':'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 text-right">
                <a href="{{ path("inscripto_index") }}" class="btn btn-default" >Volver</a>
                <input class="btn btn-primary" type="submit" name="submit" value="Guardar">
            </div>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block otherjavascripts %}
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {

            });
            $('#usuarios_tabla').DataTable({
                "dom": '<".col-md-2">frtip',
                fnInitComplete: function () {
                    $('div.col-md-2').html('<a class="btn btn-xs btn-primary" href="{{path('inscripto_new')}}"><i class="fa fa-user-plus" aria-hidden="true"></i> NUEVOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</a>');
                },
                "autoWidth": false,
                "language": {
                    "url": "{{ asset('vendor/datatables.net/Spanish.json') }}"
                },
                "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": [0, 4]
                    }],
                "order": [[1, 'asc']],
                "iDisplayLength": 10,
            });
        });
    </script>
{% endblock %}
