{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Listado de Vacunas</h1>

    <a href="{{ path('vacuna_new') }}"><button type="button" class="btn btn-success">Agregar una nueva vacuna</button></a>

    <br><br>

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Dosisrequeridas</th>
                <th>Tienevencimiento</th>
                <th>Esobligatoria</th>
                <th>Observacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacuna in vacunas %}
            <tr>
                <td>{{ vacuna.nombre }}</td>
                <td>{{ vacuna.abreviatura }}</td>
                <td>{{ vacuna.dosisRequeridas }}</td>
                <td>{% if vacuna.tieneVencimiento %}Yes{% else %}No{% endif %}</td>
                <td>{% if vacuna.esObligatoria %}Yes{% else %}No{% endif %}</td>
                <td>{{ vacuna.observacion }}</td>
                <td>
                    <a href="{{ path('vacuna_edit', { 'id': vacuna.id }) }}"><button type="button" class="btn btn-sm btn-warning">Modificar</button></a>            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
