{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vacunas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Abreviatura</th>
                <th>Dosis</th>
                <th>Vencimiento</th>
                <th>Observacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacuna in vacunas %}
            <tr>
                <td><a href="{{ path('vacuna_show', { 'id': vacuna.id }) }}">{{ vacuna.id }}</a></td>
                <td>{{ vacuna.nombre }}</td>
                <td>{{ vacuna.abreviatura }}</td>
                <td>{{ vacuna.dosis }}</td>
                <td>{{ vacuna.vencimiento }}</td>
                <td>{{ vacuna.observacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vacuna_show', { 'id': vacuna.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vacuna_edit', { 'id': vacuna.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vacuna_new') }}">Create a new vacuna</a>
        </li>
    </ul>
{% endblock %}
