{% extends 'base.html.twig' %}

{% block otherstylesheets %}
    <link href="{{ asset('vendor/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block  page_slideleft %}
    {% include 'slide_left.html.twig' with {'menu': 4, 'submenu': 1}  %}
{% endblock %}

{% block toolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Vacunas <small><i class="fa fa-list"></i> Listado de vacunas obligatorias dentro del Calendario Nacional. </small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" class="back-subviews">
                <i class="fa fa-chevron-left"></i> BACK
            </a>
            <a href="#" class="close-subviews">
                <i class="fa fa-times"></i> CLOSE
            </a>
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    <li class="dropdown">
                        <a href="{{ path('vacuna_new') }}">
                            <i class="fa fa-plus"></i> VACUNA
                            <div class="tooltip-notification hide">
                                <div class="tooltip-notification-arrow"></div>
                                <div class="tooltip-notification-inner">
                                    <div>
                                        <div class="semi-bold">
                                            VACUNA
                                        </div>
                                        <div class="message">
                                            Agregar Nueva al Sistema
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
    <!-- end: TOOLBAR -->
{% endblock %}

{% block breadcrumb %}
    <!-- start: BREADCRUMB -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Vacunas obligatorias
                </li>
            </ol>
        </div>
    </div>
    <!-- end: BREADCRUMB -->
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="clip-bars"></i>
                    <h4 class="panel-title">Listado <span class="text-bold">de Vacunas Obligatorias</span></h4>
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li>
                                    <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                                </li>
                                <li>
                                    <a class="panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i> <span>Refresh</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i> <span>Configurations</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-expand" href="#">
                                        <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="vacunas_calendario" class="table  table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                                </th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Abreviatura</th>
                                <th class="text-center">D&oacute;sis</th>
                                <th class="text-center">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vacuna in vacunas_calendario %}
                                <tr   {% if vacuna.borrado %} class="danger" {% endif %}>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td class="text-center">{{ vacuna.nombre }}</td>
                                    <td class="text-center">{{ vacuna.abreviatura }}</td>
                                    <td class="text-center">{{ vacuna.dosisRequeridas }}</td>
                                    <td class="text-center">
                                        {% if vacuna.borrado %}
                                            <a href="#" onclick="vacunaAlta('{{ path("vacuna_alta", {"id":vacuna.id }) }}');" class="btn btn-xs  btn-success " data-placement="top" data-original-title="Ver acreditados del área">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            <button type="button" class="btn btn-xs btn-primary" onclick="crearModalView('{{ path('vacuna_show',{'id': vacuna.id}) }}', 'Ver vacuna del calendario');">
                                                <i class="fa fa-binoculars" aria-hidden="true"></i>
                                            </button>
                                            {% if is_granted('ROLE_ADMIN') %}    
                                                <a href="{{ path('vacuna_edit', { 'id': vacuna.id }) }}"><button type="button" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                <a href="#" onclick="vacunaDelete('{{ path("vacuna_delete", {"id":vacuna.id }) }}');" class="btn btn-xs  btn-danger " data-placement="top" data-original-title="Ver acreditados del área">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherJavascript %}
    <script src="{{ asset('vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
                                                    function crearModalView(url, title) {
                                                        $('#okButton').button('reset');
                                                        $('#panel-config .modal-footer').show();
                                                        $('#cancelButton').hide();
                                                        $('#panel-config .modal-title').html(title);
                                                        $('#panel-config .modal-body').html("");
                                                        $('#panel-config .modal-body').load(url, function () {
                                                            $('#panel-config form').submit(function (event) {
                                                                event.preventDefault();
                                                                $('#panel-config').modal('toggle');
                                                            });
                                                        });
                                                        $('#panel-config').modal();
                                                    }

                                                    function vacunaAlta(url) {
                                                        swal({
                                                            title: '¿Estas seguro?',
                                                            text: "Estas por dar de alta una vacuna del sistema!",
                                                            type: 'warning',
                                                            showCancelButton: true,
                                                            confirmButtonColor: '#3085d6',
                                                            cancelButtonColor: '#d33',
                                                            cancelButtonText: 'Cancelar',
                                                            confirmButtonText: 'Si, Dar de Alta'
                                                        }).then((result) => {
                                                            if (result.value) {
                                                                $.post(url, {}).done((data) => {
                                                                    if (data.success) {
                                                                        swal('Agregada!', data.message, 'success').then(function () {
                                                                            location.reload();
                                                                        });
                                                                    } else {
                                                                        swal('Cuidado!', data.message, 'error');
                                                                    }
                                                                }).fail(() => {
                                                                    swal('Cuidado!', 'Ocurrio un error en la comunicación con el servidor', 'error')
                                                                }
                                                                );
                                                            }
                                                        });
                                                    }

                                                    function vacunaDelete(url) {
                                                        swal({
                                                            title: '¿Estas seguro?',
                                                            text: "Estas por eliminar una vacuna del sistema!",
                                                            type: 'warning',
                                                            showCancelButton: true,
                                                            confirmButtonColor: '#3085d6',
                                                            cancelButtonColor: '#d33',
                                                            cancelButtonText: 'Cancelar',
                                                            confirmButtonText: 'Si, Eliminarla'
                                                        }).then((result) => {
                                                            if (result.value) {
                                                                $.post(url, {}).done((data) => {
                                                                    if (data.success) {
                                                                        swal('Borrado!', data.message, 'success').then(function () {
                                                                            location.reload();
                                                                        });
                                                                    } else {
                                                                        swal('Cuidado!', data.message, 'error');
                                                                    }
                                                                }).fail(() => {
                                                                    swal('Cuidado!', 'Ocurrio un error en la comunicación con el servidor', 'error')
                                                                }
                                                                );
                                                            }
                                                        });
                                                    }

                                                    $(document).ready(function () {
                                                        $('#vacunas_calendario').DataTable({
                                                            "autoWidth": false,
                                                            "aLengthMenu": [[5, 15, 50, -1], [5, 15, 50, "Todas"]], // change per page values here
                                                            "language": {
                                                                "url": "{{ asset('vendor/datatables.net/Spanish.json') }}"
                                                            },
                                                            "columnDefs": [{
                                                                    "searchable": false,
                                                                    "orderable": false,
                                                                    "targets": [0, 4]
                                                                }],
                                                            "order": [[1, 'asc']],
                                                            "iDisplayLength": 5,
                                                        });
                                                    });
    </script>
{% endblock %}
