{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vacuna</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vacuna.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ vacuna.nombre }}</td>
            </tr>
            <tr>
                <th>Abreviatura</th>
                <td>{{ vacuna.abreviatura }}</td>
            </tr>
            <tr>
                <th>Dosis</th>
                <td>{{ vacuna.dosis }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{{ vacuna.vencimiento }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ vacuna.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vacuna_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vacuna_edit', { 'id': vacuna.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
