{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visitantes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Pais</th>
                <th>Provincia</th>
                <th>Partido</th>
                <th>Tipodocumento</th>
                <th>Nrodocumento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visitante in visitantes %}
            <tr>
                <td><a href="{{ path('visitante_show', { 'id': visitante.id }) }}">{{ visitante.id }}</a></td>
                <td>{{ visitante.nombre }}</td>
                <td>{{ visitante.apellido }}</td>
                <td>{{ visitante.email }}</td>
                <td>{{ visitante.pais }}</td>
                <td>{{ visitante.provincia }}</td>
                <td>{{ visitante.partido }}</td>
                <td>{{ visitante.tipoDocumento }}</td>
                <td>{{ visitante.nroDocumento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('visitante_show', { 'id': visitante.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('visitante_edit', { 'id': visitante.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitante_new') }}">Create a new visitante</a>
        </li>
    </ul>
{% endblock %}
