{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('factorriesgo_index') }}"><button class="btn btn-primary">Volver</button></a><br>
    <h1>Factorriesgo</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ factorRiesgo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ factorRiesgo.descripcion }}</td>
            </tr>
            <tr>
                <td>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Eliminar" class="btn btn-sm btn-danger">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
